h1{
    position: absolute;
    right: 35%;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 2px;

     
}
.logo{
    
    width: 200px;
}

.box{
   height: 200px;
   width: 200px;
   color: rgb(0, 0, 0);
   font-size: 80px;
   border: 1px solid black;
   text-align: center;
   background-color: black;
   color: white;
   
}

span{
    font-size: 20px;
    position: relative;
    bottom: 300px;
 
}

